.admin{
    .pending, .published{
        font-size: 20px;
        margin: 5px 0;
        i{
            font-size: 26px;
            padding: 5px;
        }
    }
    .pending{
        color: red;
    }
    .published{
        color: green;
    }
}